@tailwind base;
@tailwind components;
@tailwind utilities;

.btn {
  background-color: #646cff;
  color: white;
  padding: 12px 30px;
  border-radius: 7px;
}

.btn:disabled {
  background-color: #ccc;
  color: #666;
}